.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  font-size: calc(10px + 2vmin);
  color: white;
  text-decoration: 'none';

}

.App-main-header {
  flex: 0 1 auto;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}

.App-left-header {
  flex: 0 1 auto;
  width: 260px;
  margin-right: auto;
  padding-left: 30px  
}


.App-sub-header {
    font-size: calc(2px + 2vmin);
  }

.App-sub-container {
  display: flex;
  flex-direction: column;
}

.App-sub-item {
    font-size: calc(4px + 1vmin);
    padding: 5px

  }

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

